[Unit]
Description=Mosaic Chain node
After=network.target

[Service]
ExecStart=/usr/bin/start-node
Restart=on-failure

# Increase the default a bit in order to allow many simultaneous
# files to be monitored, we might need a lot of fds.
LimitNOFILE=16384

[Install]
WantedBy=default.target

